h1{
    text-align: center;
}
/* nav */
.navbar{
    padding: 0px;
    background-color: #808080;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}
.navbar ul{
    list-style-type: none;
    background-color: gray;
    padding: 0px;
    margin: auto;
    text-align: center;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: palevioletred;
}
.navbar li{
    float: left;
}

.container{
    padding: 0px;
}
.blue{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    background-color: lightcyan;
    margin-top: 100px;
}

.big{
    background-color: rgb(217, 234, 233);
}
.big2{

    background-color: wheat;
}
section{
    padding: 150px 0;
}
.red{

    background-color: bisque;
}
.green{
    padding: 20px;
    margin-bottom: 10px;
    background-color: greenyellow;
}
.orange{
    background-color: orange;
}
.yellow{
    background-color: yellow;
    border: 1px solid black;
    height: 100%;
}
 .red img{
    width: 100%;
}